<ion-content class="ion-padding background-contenido">
  <div class="contenedor-general">
    <div class="contenedor-recordatorios">

      <div *ngIf="isLoading" class="loader-contenedor">
        <ion-spinner name="crescent"></ion-spinner>
        <p>Cargando recordatorios...</p>
      </div>

      <ng-container *ngIf="!isLoading">
      <form 
        (ngSubmit)="editarRecordatorio()" 
        class="w-100 d-flex justify-content-start align-items-center flex-column h-100"
      >
        <!-- Inputs poblados con [(ngModel)] -->
        <input 
          type="text" 
          [(ngModel)]="recordatorio.nombreRecordatorio" 
          placeholder="Titulo Recordatorio" 
          name="nombreRecordatorio" 
          class="custom-input"
          disabled
        >

        <textarea 
          type="text" 
          [(ngModel)]="recordatorio.descRecordatorio" 
          class="contenedor-input" 
          placeholder="¿Querés añadir un comentario?" 
          name="descRecordatorio"
        ></textarea>

        <input 
          type="date" 
          [(ngModel)]="recordatorio.fechaRecordatorio" 
          class="contenedor-input" 
          name="fechaRecordatorio"
        >

        <input 
          type="time" 
          [(ngModel)]="recordatorio.horaRecordatorio" 
          class="contenedor-input" 
          name="horaRecordatorio"
        >

        <div class="radio-group">
          <p class="titulo-repetir">¿Repetir recordatorio?</p>
          <div class="d-flex flex-row-reverse separador-radio">
            <label class="contenedor-label-radio" for="no-repetir">
              No repetir
            </label>
            <input 
              type="radio" 
              [(ngModel)]="recordatorio.recordar" 
              name="recordar" 
              value="no-repetir" 
              id="no-repetir"
            >
          </div>
          <div class="d-flex flex-row-reverse separador-radio">
            <label class="contenedor-label-radio" for="una-semana">
              1 vez por semana
            </label>
            <input 
              type="radio" 
              [(ngModel)]="recordatorio.recordar" 
              name="recordar" 
              value="una-semana" 
              id="una-semana"
            >
          </div>
          <div class="d-flex flex-row-reverse separador-radio">
            <label class="contenedor-label-radio" for="un-mes">
              1 vez por mes
            </label>
            <input 
              type="radio" 
              [(ngModel)]="recordatorio.recordar" 
              name="recordar" 
              value="un-mes" 
              id="un-mes"
            >
          </div>
          <div class="d-flex flex-row-reverse separador-radio">
            <label class="contenedor-label-radio" for="un-ano">
              1 vez por año
            </label>
            <input 
              type="radio" 
              [(ngModel)]="recordatorio.recordar" 
              name="recordar" 
              value="un-ano" 
              id="un-ano"
            >
          </div>
        </div>        

        <div class="d-flex justify-content-around align-items-center w-100">
          <button type="submit" class="button-guardar-cancelar">
            Editar
          </button>
          <button 
            type="button" 
            class="button-guardar-cancelar" 
            (click)="volver()"
          >
            Volver
          </button>
        </div>
      </form>
    </ng-container>
    </div>
  </div>
</ion-content>