<ion-content class="ion-padding contenedor-general">

  <div class="contenedor-titulo">
    <h1 class="titulo-general">ListAPP</h1>
    <h3 class="subtitulo">¿Iniciamos sesión?</h3>
  </div>


  <form (submit)="onSubmit()" class="contenedor-formulario-login">

    <ion-item class="tones">
      <ion-icon class="mail" name="person-circle-outline"></ion-icon>
      <ion-input type="email" [(ngModel)]="email" name="email" required placeholder="Email"></ion-input>
    </ion-item>

    <ion-item class="tones">
      <ion-icon class="candado" name="lock-closed-outline"></ion-icon>
      <ion-input type="password" [(ngModel)]="password" name="password" required placeholder="Contraseña"></ion-input>
    </ion-item>
    
    <div class="contenedor-recordar-olvdaste-contrasena">
      <div class="contenedor-checkbox-label">
        <ion-checkbox [(ngModel)]="recordarEmail" name="recordarEmail"></ion-checkbox>
        <ion-label class="texto-recordarme">Recordarme</ion-label>
      </div>
      <p class="texto-olvidaste-contrasena" (click)="goToRestorePassword()">¿Olvidaste tu contraseña?</p>
    </div>

    <button class="boton-iniciar-sesion" type="submit" [disabled]="!email || !password">Iniciar sesión</button>
    <p class="texto-no-cuenta">¿No tenés una cuenta?<span class="texto-ancla" (click)="goToRegister()">¡Registrate acá!</span></p>

  </form>
</ion-content>
