<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Listas de tareas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Listas de tareas</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Funcionalidad de creación de listas con etiquetas -->
  <ion-item>
    <ion-input [(ngModel)]="newList" placeholder="Nueva Lista"></ion-input>
    <ion-input [(ngModel)]="newTag" placeholder="Etiqueta"></ion-input>
    <ion-button (click)="addList()">Agregar Lista</ion-button>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let list of lists" (click)="selectList(list.name)">
      <ion-label>{{ list.name }}</ion-label>
      <ion-badge *ngFor="let tag of list.tags">{{ tag }}</ion-badge>
    </ion-item>
  </ion-list>

</ion-content>
