<ion-menu side="end" contentId="main-content">
  <ion-content class="ion-padding contenido-menu">
    <button (click)="irARecordatorios()">Recordatorios</button>
    <button (click)="irAListas()">Listas</button>
    <button>Etiquetas</button>
    <button (click)="CerrarSesion()">Cerrar sesión</button>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Recordatorios</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding background-contenido">
    <!-- Hijos que serán centrados -->
    <div class="contenedor-general">

      <div class="contenedor-recordatorios">
        <button (click)="irACrearRecordatorio()" class="button-aviso-crear">
          ¡Creá tu primer recordatorio!
        </button>
        
        
        <div *ngFor="let recordatorio of recordatorios" class="contenedor-recordatorio">
          <div class="d-flex justify-content-center align-items-center flex-column w-100">
            <p class="titulo-recordatorio">{{ recordatorio.titulo }}</p>
            <div class="divisor-titulo-recordatorio"></div>
          </div>
          <div class="d-flex justify-content-between align-items-center w-75 color-texto-recordatorio">
            <span>¿Cuándo?</span>
            <span>{{ recordatorio.fecha }}</span>
          </div>
          <div class="d-flex justify-content-between align-items-center w-75 color-texto-recordatorio">
            <span>¿Hora?</span>
            <span>{{ recordatorio.hora }}</span>
          </div>
          <div class="d-flex justify-content-around align-items-center w-75">
            <button (click)="verDetalles(recordatorio)" class="boton-detalles-recordatorio">Detalles</button>
            <ion-icon name="trash-outline" class="color-icon" (click)="borrarRecordatorio(recordatorio)"></ion-icon>
          </div>
        </div>

      </div>

    </div>
  </ion-content>
</div>
