<ion-menu side="end" contentId="main-content">
  <ion-content class="ion-padding contenido-menu">
    <button>Recordatorios</button>
    <button>Listas</button>
    <button>Etiquetas</button>
    <button>Cerrar sesión</button>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Recordatorios</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding background-contenido">
    <!-- Hijos que serán centrados -->
    <div class="contenedor-general">

      <div class="contenedor-recordatorios">
        <button class="button-aviso-crear">
          ¡Creá tu primer recordatorio!
        </button>

        <div class="contenedor-recordatorio">
          <div class="d-flex justify-content-center align-items-center flex-column w-100">
            <p class="titulo-recordatorio">Pantallas PPII</p>
            <div class="divisor-titulo-recordatorio"></div>
          </div>
          <div class="d-flex justify-content-between align-items-center w-75 color-texto-recordatorio">
            <span>¿Cuándo?</span>
            <span>25/10/2024</span>
          </div>
          <div class="d-flex justify-content-between align-items-center w-75 color-texto-recordatorio">
            <span>¿Hora?</span>
            <span>19:00</span>
          </div>
          <div class="d-flex justify-content-around align-items-center w-75">
            <button class="boton-detalles-recordatorio">Detalles</button>
            <ion-icon name="trash-outline" class="color-icon"></ion-icon>
          </div>
        </div>

      </div>

    </div>
  </ion-content>
</div>
