<ion-menu side="end" contentId="main-content">
  <ion-content class="ion-padding contenido-menu">
    <button (click)="irARecordatorios()">Recordatorios</button>
    <button (click)="irAListas()">Listas</button>
    <button (click)="CerrarSesion()">Cerrar sesión</button>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Recordatorios</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding background-contenido">
    <!-- Hijos que serán centrados -->
    <div class="contenedor-general">

      <div class="contenedor-recordatorios"> <!-- Contedor naranja -->


        <div class="contenedor-recordatorio" *ngFor="let recordatorio of firestoreService.recordatorios"> <!-- Contenedor card -->
          <div class="d-flex justify-content-center align-items-center flex-column w-100">
            <p class="titulo-recordatorio">{{ recordatorio.nombreRecordatorio }}</p>
            <div class="divisor-titulo-recordatorio"></div>
          </div>
          <div class="d-flex justify-content-between align-items-center w-75 color-texto-recordatorio">
            <span>¿Cuándo?</span>
            <span>{{ recordatorio.fechaRecordatorio }}</span>
          </div>
          <div class="d-flex justify-content-between align-items-center w-75 color-texto-recordatorio">
            <span>¿Hora?</span>
            <span>{{ recordatorio.horaRecordatorio }}</span>
          </div>
          <div class="d-flex justify-content-around align-items-center w-75">
            <button class="boton-detalles-recordatorio">Detalles</button>
            <ion-icon name="trash-outline" class="color-icon"></ion-icon>
          </div>
        </div>

        <button class="button-aviso-crear" *ngIf="firestoreService.recordatorios.length === 0">
          ¡Creá tu primer recordatorio!
        </button>

      </div>

    </div>
  </ion-content>
</div>
