.background-contenido{
  --background: url('/assets/img/fondo-pantallas.jpg') no-repeat center center / cover fixed;
}

.contenido-menu {
  display: flex;
  flex-direction: column; /* Alinea los elementos uno debajo de otro */
  justify-content: center; /* Centra los elementos verticalmente */
  align-items: center; /* Centra los elementos horizontalmente */
  height: 100%; /* Asegura que ocupe todo el alto del menú */
  gap: 10px; /* Espaciado entre los enlaces */
  --background-color: #d9b596 ;
}

.contenido-menu button {
  text-decoration: none; /* Quita el subrayado */
  color: #000; /* Cambia el color del texto */
  font-size: 1.2rem; /* Ajusta el tamaño de fuente */
  padding: 10px; /* Espaciado interno para los enlaces */
  width: 100%; /* Haz que los enlaces ocupen todo el ancho */
  text-align: center; /* Alinea el texto al centro */
  background-color: #f4f4f4; /* Fondo para visibilidad */
  border-radius: 5px; /* Bordes redondeados */
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #e7ded5;
}


.contenedor-general{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.contenedor-recordatorios{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  background-color: #d9b596 ;
  width: 100%;
  height: 95%;
  border-radius: 40px;
  gap: 8px;
}

form{
  margin-top: 24px;
  gap: 12px;
}
form textarea{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e7ded5 ;
  height: auto;
  border-radius: 20px;
  width: 90%;
  padding: 8px;
  outline: none;
  text-align: center;
  height: 15%;
  overflow: hidden;
  border: 1px solid;
}
.contenedor-input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e7ded5 ;
  height: auto;
  border-radius: 20px;
  width: 90%;
  padding: 8px;
  outline: none;
  text-align: center;
  font-size: 18px;
  border: 1px solid;
}
.contenedor-input::placeholder{
  color: #6b402b; /* Color del placeholder (opcional) */
  opacity: 0.7; /* Mostrarlo completamente */
  font-size: 18px;
}

.custom-input {
  background: none; /* Sin fondo */
  border: none; /* Sin bordes */
  border-bottom: 1px solid; /* Solo borde inferior */
  border-color: #6b402b;
  width: 70%; /* Ocupar todo el ancho */
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  text-align: center;
}

.custom-input::placeholder {
  color: #6b402b; /* Color del placeholder (opcional) */
  opacity: 0.7; /* Mostrarlo completamente */
  font-size: 24px;
  text-align: center;
}

.radio-group {
  display: flex;
  flex-direction: column; /* Alinea las opciones verticalmente */
  gap: 8px; /* Espaciado entre las opciones */
  font-family: Arial, sans-serif; /* Cambia la fuente si lo prefieres */
  font-size: 16px;
}
.titulo-repetir{
  margin-top: 8px;
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -100px;
}



.contenedor-label-radio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e7ded5 ;
  height: auto;
  border-radius: 20px;
  width: 90%;
  text-align: center;
  font-size: 18px;
  color: #6b402bb3;
  font-weight: normal;
  margin-left: 10px;
  margin-right: 10px;
}

.button-guardar-cancelar{
  background-color: #6b402b;
  color: #e6e1e1;
  font-weight: 400;
  padding: 12px 8px;
  border-radius: 16px;
  width: 40%;
  font-size: 20px;
  margin-top: 16px;
}

h3{
  color: #6b402b;
  border-bottom: 1px solid;
  width: 90%;
  margin-top: 25px;
  margin-left: 10px;
  padding: 5px;
}

.button-todo{
  background-color: #6b402b;
  color: #e6e1e1;
  font-weight: 400;
  padding: 12px 8px;
  border-radius: 16px;
  width: 60%;
  font-size: 20px;
  margin-top: 16px;
  margin-left: 10px;
}

ion-icon{
  background-color:#d9b596;
  color: #6b402b;
  width: 60px;
  height: 100%;
}

.fondo{
  background-color: transparent;
}