<ion-menu side="end" contentId="main-content">
  <ion-content class="ion-padding contenido-menu">
    <button (click)="irACrearRecordatorio()">Menu</button>
    <button (click)="irAListas()">Listas</button>
    <button>Etiquetas</button>
    <button (click)="CerrarSesion()">Cerrar sesión</button>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Creando recordatorio</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding background-contenido">
    <!-- Hijos que serán centrados -->
    <div class="contenedor-general">
      
      <div class="contenedor-recordatorios">
        <form (ngSubmit)="guardarRecordatorio()" class="w-100 d-flex justify-content-start align-items-center flex-column h-100">
          <input type="text" placeholder="Titulo Recordatorio" class="custom-input" [(ngModel)]="recordatorio.titulo" name="titulo" required>
        
          <textarea class="contenedor-input" placeholder="¿Querés añadir un comentario?" [(ngModel)]="recordatorio.comentario" name="comentario"></textarea>
        
          <input type="date" class="contenedor-input" [(ngModel)]="recordatorio.fecha" name="fecha">
          <input type="time" class="contenedor-input" [(ngModel)]="recordatorio.hora" name="hora">
        
          <div class="radio-group">
            <p class="titulo-repetir">¿Repetir recordatorio?</p>
            <div *ngFor="let opcion of ['No Repetir', 'Una Semana', 'Un Mes', 'Un Año']">
              <label [for]="opcion">{{ opcion }}</label>
              <input type="radio" name="repetir" [id]="opcion" [value]="opcion" [(ngModel)]="recordatorio.repetir">
            </div>
          </div>
        
          <div class="d-flex justify-content-around align-items-center w-100">
            <button type="submit" class="button-guardar-cancelar">Guardar</button>
            <button type="button" (click)="volverARecordatorios()" class="button-guardar-cancelar">Cancelar</button>
          </div>
        </form>

      </div>

    </div>
  </ion-content>
</div>
