<ion-menu side="end" contentId="main-content">
  <ion-content class="ion-padding contenido-menu">
    <button>Recordatorios</button>
    <button>Listas</button>
    <button>Etiquetas</button>
    <button>Cerrar sesión</button>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Creando recordatorio</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding background-contenido">
    <!-- Hijos que serán centrados -->
    <div class="contenedor-general">
      
      <div class="contenedor-recordatorios">
        <form class="w-100 d-flex justify-content-start align-items-center flex-column h-100">
          <input [(ngModel)]="recordatorio.titulo" name="titulo" type="text" placeholder="Titulo Recordatorio" class="custom-input">
          
          <textarea [(ngModel)]="recordatorio.comentario" name="comentario" class="contenedor-input" placeholder="¿Querés añadir un comentario?"></textarea>
          
          <input [(ngModel)]="recordatorio.fecha" name="fecha" type="date" class="contenedor-input">
          
          <input [(ngModel)]="recordatorio.hora" name="hora" type="time" class="contenedor-input">
          
          <div class="radio-group">
            <p class="titulo-repetir">¿Repetir recordatorio?</p>
            <div class="d-flex flex-row-reverse separador-radio">
              <label class="contenedor-label-radio" for="no-repetir">
                No repetir
              </label>
              <input type="radio" name="recordar" value="no-repetir" checked id="no-repetir" [(ngModel)]="recordatorio.recordar">
            </div>
            <div class="d-flex flex-row-reverse separador-radio">
              <label class="contenedor-label-radio" for="una-semana">
                1 vez por semana
              </label>
              <input type="radio" name="recordar" value="una-semana" id="una-semana" [(ngModel)]="recordatorio.recordar">
            </div>
            <div class="d-flex flex-row-reverse separador-radio">
              <label class="contenedor-label-radio" for="un-mes">
                1 vez por mes
              </label>
              <input type="radio" name="recordar" value="un-mes" id="un-mes" [(ngModel)]="recordatorio.recordar">
            </div>
            <div class="d-flex flex-row-reverse separador-radio">
              <label class="contenedor-label-radio" for="un-ano">
                1 vez por año
              </label>
              <input type="radio" name="recordar" value="un-ano" id="un-ano" [(ngModel)]="recordatorio.recordar">
            </div>
          </div>
          
          <div class="d-flex justify-content-around align-items-center w-100">
            <button type="button" class="button-guardar-cancelar" (click)="guardarRecordatorio()">
              Guardar
            </button>
            <button type="button" class="button-guardar-cancelar" (click)="cancelarCreacion()">
              Cancelar
            </button>
          </div>
        </form>

      </div>

    </div>
  </ion-content>
</div>
