<ion-content class="ion-padding contenedor-general">

  <div class="contenedor-titulo">
    <h1 class="titulo-general">ListAPP</h1>
    <h3 class="subtitulo">¿Nos registramos?</h3>
  </div>

  <form (submit)="onRegister()" class="contenedor-formulario-login">
    <ion-item class="tones">
      <ion-icon class="mail" name="person-circle-outline"></ion-icon>
      <ion-input type="email" [(ngModel)]="user.email" name="email" required placeholder="Email"></ion-input>
    </ion-item>

    <ion-item class="tones">
      <ion-icon class="candado" name="lock-closed-outline"></ion-icon>
      <ion-input type="password" [(ngModel)]="user.password" name="password" required placeholder="Contraseña"></ion-input>
    </ion-item>
    
    <button class="boton-iniciar-sesion" type="submit" [disabled]="!user.email || !user.password">Registrarme</button>
    <p class="texto-tiene-cuenta">¿Ya tenés una cuenta?<span class="texto-ancla" (click)="goToLogin()">¡Iniciá sesión acá!</span></p>

  </form>
</ion-content>
